<body>
  <header>
    <h1>This is the list of Users</h1>
  </header>
  <main>
    <section>
      <% @users.each do |user| %>
        <div>
          <img src="<%= user.photo %>" alt="user-image" class="photo">
          <div>
            <h2><%= user.name %></h2>
            <p>Number of Posts: <%= user.posts_counter %></p>
          </div>
        </div>
      <% end %>
    </section>  
  </main>
</body>

