<html>
  <head>
    <%= stylesheet_link_tag 'users_css' %>
  </head>

  <body>
    <header>
      <h1>This is the list of Users</h1>
    </header>
    <main>
      <section class="users-section flex-column">
        <% @users.each do |user| %>
          <%= render 'users/user', user: user %>
        <% end %>
      </section>  
    </main>
  </body>
</html>
