<html>
  <head>
    <%= stylesheet_link_tag 'users_css' %>
  </head>

  <body>
    <header>
      <h1>This is the list of Users</h1>
    </header>
    <main>
      <section class="users-section flex-column">
        <% @users.each do |user| %>
          <div class="user-list flex-row">
            <div class="img-box">
              <img src="<%= user.photo %>" alt="user-image" class="photo" width="96" height="96">
            </div>
            <div class="user-info flex-row">
              <h2 class="user-name"><%= user.name %></h2>
              <p class="user-posts-number">Number of Posts: <%= user.posts_counter %></p>
            </div>
          </div>
        <% end %>
      </section>  
    </main>
  </body>
</html>
