<html>
  <head>
    <%= stylesheet_link_tag 'users_css' %>
  </head>

  <body>
    <header>
      <h1>This is the list of Posts for <%= @user.name %></h1>
    </header>

    <main>
      <%= render 'users/user', user: @user %>
      <h2>List of Posts:</h2>
      <ul class="post-list flex-column">
        <% @posts.each do |post| %>
          <%= render 'users/post', post: post, user: @user %>
        <% end %>
      </ul>
      <div class="btn flex-column">
        <button class="see-btn" type="button">
          Pagination
        </button>
      </div>
    </main>
  </body>
</html>

