/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.field {
  width: 100%;
}

.field-input,
.login-btn {
  outline: #000 1px solid;
  border: none;
  border-radius: 2px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.login-btn {
  background-color: #fff;
  box-shadow: #000 2px 2px 2px 2px;
}

.actions {
  margin-bottom: 2rem;
}

.log_in_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log_in_form a {
  align-self: flex-start;
  margin-left: 15%;
  padding: 1rem 0;
}

.log_in_form a {
  align-self: flex-start;
  margin-left: 15%;
  padding: 1rem 0;
}
