body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.post-detail-show,
.post-comment-show {
  border: 1px solid #000;
  width: 80%;
  align-self: center;
}

.post-detail-show {
  margin: 2rem 0 0.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-detail-header-show {
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
}

.post-comment-show {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form {
  width: 80%;
  justify-content: space-between;
}

form textarea {
  width: 20rem;
  height: 3rem;
}
